AVA_workflow_v2.json
{
  "name": "Version Claude AVA v2",
  "nodes": [
    {
      "parameters": {
        "content": "## Chat with documents\n--> Telegram \n--> AI agent specifique\n--> Pinecone Data\n--> Google drive BDD",
        "height": 144,
        "width": 688
      },
      "id": "4fa92c1c-a976-42a4-a018-2f32be14bb45",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Rôle\nTu es AVA, l'assistante juridique du cabinet de Maître Lunay, avocate française spécialisée en violences conjugales et intrafamiliales.\nTu réponds directement aux questions des clientes avec clarté et bienveillance.\n\nTon périmètre :\n- Violences conjugales et intrafamiliales\n- Procédures pénales associées\n- Séparation, divorce, procédures devant le Juge aux Affaires Familiales\n- Ordonnances et mesures de protection des victimes\n\n# Contexte client\n- La cliente est déjà cliente du cabinet.\n- Un premier rendez-vous avec l'avocat a eu lieu.\n- Une procédure est en cours ou sur le point d'être engagée.\n\n# Valeurs\nÉcoute · Bienveillance · Clarté · Rigueur\n\n# Style de réponse\n- Répond de façon concise et directe. Maximum 5 à 8 lignes par réponse.\n- Utilise un ton chaleureux et rassurant, pas froid ni bureaucratique.\n- Structure avec des puces uniquement si la réponse comporte plusieurs étapes distinctes.\n- Pas de formules de politesse inutiles en début ou fin de message.\n- Évite les répétitions et les tournures longues.\n\n# Processus obligatoire\n1. Toujours appeler le TOOL pinecone_vector_db AVANT de répondre.\n2. Répondre uniquement avec les données retournées par ce TOOL.\n3. Ne jamais utiliser tes connaissances internes ni inventer d'information.\n\n# Règles de réponse\n- Si le TOOL retourne une information pertinente → répond clairement avec cette information.\n- Si le TOOL ne retourne pas d'information pertinente → réponds : \"Je n'ai pas cette information dans ma base. Pour une réponse précise, je te recommande d'en parler lors de ton prochain échange avec le cabinet.\"\n- Si la question est trop spécifique au dossier personnel → réponds : \"Cette question nécessite une analyse de ton dossier. Je te recommande d'en parler directement avec le cabinet.\"\n- Si la question concerne une décision stratégique → réponds : \"Cette décision relève d'une analyse spécifique de ta situation. Le cabinet pourra te répondre.\"\n- Si la question est hors périmètre → décline poliment en une phrase.\n\n# Interdictions\n- Ne jamais inventer de lois, articles ou jurisprudence.\n- Ne jamais mentionner Pinecone ni la base de données.\n- Ne pas répéter systématiquement que les réponses sont générales.\n- Ne pas rediriger vers un avocat à chaque réponse — seulement quand c'est réellement nécessaire.\n\n# Si la question manque d'informations\nPose une seule question de clarification ciblée avant de répondre."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1280,
        128
      ],
      "id": "233f5e09-7447-4c02-91b9-b4d517e083c6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.3,
          "maxRetries": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1216,
        336
      ],
      "id": "5479be95-53a5-4788-9afc-97c942464fad",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "66vFkouId7UlmvTu",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        704
      ],
      "id": "a850b1d4-0095-429d-92cd-486048598565",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "66vFkouId7UlmvTu",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Récupère l'information la plus juste en fonction de la question posée. Tu peux également combiner plusieurs informations si besoin.  ",
        "pineconeIndex": {
          "__rl": true,
          "value": "ava",
          "mode": "list",
          "cachedResultName": "ava"
        },
        "topK": 15,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1680,
        496
      ],
      "id": "e0f71788-eb2f-43c3-8a12-651d688c436c",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "fwE7IUXjjE47tW3l",
          "name": "PineconeApi API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram message').item.json.message.voice.file_id }}",
        "additionalFields": {
          "mimeType": "={{ $('Telegram message').item.json.message.voice.mime_type }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        -48
      ],
      "id": "dc23d4a0-5685-4a11-8ff2-cd13fd1eb6d8",
      "name": "Get a file",
      "webhookId": "55119ce3-f24f-4630-9fe7-b05c9a21a9bf",
      "credentials": {
        "telegramApi": {
          "id": "j9Ymkr7OkQPopQm5",
          "name": "Maitre Lunay"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram message').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "a3d900b9-d1ba-4964-8626-9fc08e170964"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cdac9a9a-4056-4d7e-810e-59c357fe4a10",
                    "leftValue": "={{ $('Telegram message').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a0d2e1ff-950a-4740-b60c-42a2ba5fee04",
                    "leftValue": "={{ $('Telegram message').item.json.message.photo[1].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMG"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        512,
        112
      ],
      "id": "560a109d-6c96-4666-8c3b-d63fdfea7a98",
      "name": "Switch",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1024,
        -48
      ],
      "id": "07e8d6d1-7e03-4cf6-8bf0-8d2dc18ee2eb",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "66vFkouId7UlmvTu",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b27a026-e502-43e6-b42e-0e9f7c1fae8d",
              "name": "text",
              "value": "={{ $('Telegram message').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        128
      ],
      "id": "c652dd10-3a1f-491d-ba6f-48ad9ac64b91",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        128
      ],
      "id": "c9b8370f-ff82-4be8-9234-8a523c4f81be",
      "name": "Telegram message",
      "webhookId": "d8f424ac-3703-4d7b-8d6a-9d3b8999f583",
      "credentials": {
        "telegramApi": {
          "id": "j9Ymkr7OkQPopQm5",
          "name": "Maitre Lunay"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram message').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        128
      ],
      "id": "6cd5af55-3c9c-494d-926e-ff4528f7a8d0",
      "name": "message retour",
      "webhookId": "4175be47-e346-4bef-9752-ea382938c37d",
      "credentials": {
        "telegramApi": {
          "id": "j9Ymkr7OkQPopQm5",
          "name": "Maitre Lunay"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Analyse cette image, extrait les informations et présente les de façon lisible , sans forme avec un retour à la ligne à chaque élément.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        736,
        320
      ],
      "id": "78591b2d-0f9e-4fb4-9dea-fd462df2e583",
      "name": "Analyze image2",
      "credentials": {
        "openAiApi": {
          "id": "66vFkouId7UlmvTu",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b27a026-e502-43e6-b42e-0e9f7c1fae8d",
              "name": "text",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        320
      ],
      "id": "0e7902bb-f309-4533-ae93-5bce30730830",
      "name": "Edit IMG2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram message').item.json.message.from.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1376,
        416
      ],
      "id": "162f23a3-051b-4b7c-a5a1-5225701c1d64",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "message retour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image2": {
      "main": [
        [
          {
            "node": "Edit IMG2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit IMG2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "06e07a89-77c7-4917-8c08-49d12b0c36be",
  "meta": {
    "instanceId": "63cfcbdb4b6e3190348b791e15eee18d3bd5ecb40514fea981a08c5e89a07c43"
  },
  "id": "-A0QYKH0fQqxN7yxAviEn",
  "tags": []
}
