Graph_Sanity_Check_v5.json
{
  "name": "Graph Sanity Check",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1545992731,
          "mode": "list",
          "cachedResultName": "demand_global",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1545992731"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [1920, 3776],
      "id": "4a293847-4006-4dbc-b7a8-9cb9de9feda8",
      "name": "Tool_demand_global",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 996643932,
          "mode": "list",
          "cachedResultName": "demand_transaction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=996643932"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2096, 3776],
      "id": "ee032631-67be-4141-9d73-b1560226d9bf",
      "name": "Tool_demand_transaction",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 219092738,
          "mode": "list",
          "cachedResultName": "demand_asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=219092738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2288, 3776],
      "id": "92db805c-e623-4794-8639-cfc6e40b9738",
      "name": "Tool_demand_asset",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "sheetName": {
          "__rl": true,
          "value": 232829744,
          "mode": "list",
          "cachedResultName": "ranking_global_war",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2464, 3776],
      "id": "5c31dba7-297e-4808-b7f0-c12ef60f5d70",
      "name": "Tool_ranking_global_war",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576889957,
          "mode": "list",
          "cachedResultName": "audience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1576889957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2624, 3776],
      "id": "30f871e0-e929-4108-a2d2-098bef1efd72",
      "name": "Tool_audience",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output || '';\n\nconst match = aiOutput.match(/\\[CHARTS_JSON\\]([\\s\\S]*?)\\[\\/CHARTS_JSON\\]/);\nif (!match) return [];\n\nlet raw = match[1].trim();\n// Strip markdown fences\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n\nfunction repairJson(s) {\n  // Remove JS single-line comments\n  s = s.replace(/\\/\\/[^\\n]*/g, '');\n  // Remove JS block comments\n  s = s.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  // Trailing commas before ] or }\n  s = s.replace(/,\\s*([\\]\\}])/g, '$1');\n  // Replace single quotes used as string delimiters (simple cases)\n  // (skip вЂ” too risky, leave as-is)\n  return s.trim();\n}\n\nlet charts;\ntry {\n  charts = JSON.parse(raw);\n} catch (e) {\n  try {\n    charts = JSON.parse(repairJson(raw));\n  } catch (e2) {\n    // Parsing failed entirely вЂ” return no items so QuickChart is never called\n    return [];\n  }\n}\n\nif (!Array.isArray(charts) || charts.length === 0) return [];\n\nreturn charts\n  .filter(c => c && c.chartConfig && c.chartConfig.data)\n  .map(c => ({ json: { sheetName: c.sheetName || 'chart', chartConfig: c.chartConfig } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2560, 3472],
      "id": "ee04942d-f4a6-4d1e-921f-786459fe7f56",
      "name": "Parse AI Chart Configs1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ version: 3, chart: $json.chartConfig, width: 1100, height: 600, backgroundColor: 'white', format: 'png' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2768, 3472],
      "id": "a07b0f3c-0de7-4e5d-af08-b7b0b7d7b33c",
      "name": "QuickChart API1"
    },
    {
      "parameters": {
        "jsCode": "// Code node runs ONCE for all items вЂ” iterate with .map()\nconst allItems  = $input.all();\nconst allCharts = $('Parse AI Chart Configs1').all();\n\nreturn allItems.map((item, idx) => {\n  const sheetName = allCharts[idx]?.json?.sheetName || ('chart_' + idx);\n  return { json: { sheetName }, binary: item.binary };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2976, 3472],
      "id": "17ba0d61-7b6d-4201-a28b-7d728ec80f24",
      "name": "Attach Sheet Name1"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15-4YK35IWCcJXaQ4LzywC7fKrY4u5vcX",
          "mode": "list",
          "cachedResultName": "Sanity chech SLN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15-4YK35IWCcJXaQ4LzywC7fKrY4u5vcX"
        },
        "options": {
          "fileName": "=SLN_Chart_{{ $json.sheetName }}_{{ $now.format('yyyy-MM') }}.png"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3184, 3472],
      "id": "2f996d6e-243e-482b-9f01-c98be1b83f3b",
      "name": "Upload Chart to Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7214d040-f11c-409d-bf5b-4fc05b33d3bc",
              "name": "output",
              "value": "={{ $json.output.replace(/\\n*#+\\s*Charts?\\s*\\n\\[CHARTS_JSON\\][\\s\\S]*?\\[\\/CHARTS_JSON\\]/gi, '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2560, 3248],
      "id": "298da300-b40b-4f18-8e26-bbd92ec1ee67",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "fileName": "=Sanity_check_{{ $now.format('YYYY-MM-DD') }}.doc"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [2752, 3248],
      "id": "16417f35-05c4-4589-9439-432eb228062a",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15-4YK35IWCcJXaQ4LzywC7fKrY4u5vcX",
          "mode": "list",
          "cachedResultName": "Sanity chech SLN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15-4YK35IWCcJXaQ4LzywC7fKrY4u5vcX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2976, 3248],
      "id": "da9507c0-e689-4e56-a2ea-02fcdee093cc",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "=Sanity check {{ $now.format('YYYY-MM-DD') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3184, 3248],
      "id": "160f11d9-eba1-4303-a9c9-8b17174f6cc3",
      "name": "Update file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [1712, 3376],
      "id": "2129c397-4127-4b20-933c-b792d2198b0d",
      "name": "Schedule Monday morning1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 16000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1984, 3520],
      "id": "ba07864c-e495-4478-a973-a43e967b0a7c",
      "name": "OpenAI Chat1",
      "credentials": {
        "openAiApi": {
          "id": "apnKNfuPRPt3265G",
          "name": "OpenAI account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an SEO and real estate analyst specializing in online demand data for the French residential new-build market.\n\nReport date: {{ $now.format('DD/MM/YYYY') }}\n\nв”Ѓв”Ѓв”Ѓ STEP 1 вЂ” FETCH DATA в”Ѓв”Ѓв”Ѓ\nUse each tool to read ALL rows BEFORE writing anything:\n- Tool_demand_global в†’ demand_global (columns: date/month, volume)\n- Tool_demand_transaction в†’ demand_transaction (columns: date, segment.transaction, volume)\n- Tool_demand_asset в†’ demand_asset (columns: date, segment.asset, volume)\n- Tool_ranking_global_war в†’ ranking_global_war (columns: date, url_hostname, rank_organic_war)\n- Tool_audience в†’ audience (columns: date, type, clicks)\n\nв”Ѓв”Ѓв”Ѓ STEP 2 вЂ” WRITE ANALYSIS в”Ѓв”Ѓв”Ѓ\n\n## 1. demand_global вЂ” Market trend\n- Current month volume vs M-1: absolute difference + %\n- Current month vs same month last year (YoY): absolute difference + %\n- 12-month trend: increasing or decreasing vs previous year?\n\n## 2. demand_transaction вЂ” By segment\n- Per segment: current month vs M-1 (number + %)\n- Per segment: current month vs same month last year (number + %)\n- Which segment is growing? Which is declining?\n\n## 3. ranking_global_war вЂ” SEO competitive ranking\n- List ALL unique url_hostname values found in the data вЂ” do not omit any competitor\n- For each competitor: SeLoger Neuf current WAR rank vs their current rank\n- Trend over last 12 months: improving or declining?\n\n## 4. demand_asset вЂ” By asset type\n- Current month volume vs M-1 per asset type: absolute + %\n- Current month vs YoY per asset type\n- Top growing and top declining asset type\n\n## 5. audience вЂ” Brand vs Non-brand\n- Current click split per type (%)\n- Evolution vs previous period\n\nрџЋЇ Rules: English only вЂ” bullets only вЂ” real numbers mandatory вЂ” no methodology.\n\nв”Ѓв”Ѓв”Ѓ STEP 3 вЂ” GENERATE ADVANCED CHARTS в”Ѓв”Ѓв”Ѓ\n\nProduce exactly 5 Chart.js v3 configs. Use ONLY real numbers. QuickChart supports these extra plugins: chartjs-plugin-annotation AND chartjs-plugin-datalabels вЂ” USE THEM.\n\nвљ пёЏ MANDATORY RULES FOR ALL 5 CHARTS:\n- options.plugins.title = { display: true, text: \"...\", font: { size: 16, weight: \"bold\" }, padding: { bottom: 10 } }\n- options.plugins.legend = { display: true, position: \"bottom\", labels: { padding: 16, font: { size: 12 } } }\n- options.layout = { padding: { top: 10, right: 24, bottom: 10, left: 10 } }\n- options.scales.x.grid = { display: false }\n- options.scales.x.ticks = { font: { size: 11 } }\n- options.scales.y.ticks = { font: { size: 11 } }\n- All values MUST be real numbers. null only for genuinely missing rank data.\n- NO placeholder text.\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ“Љ CHART 1 вЂ” demand_global вЂ” DUAL-LINE + ANNOTATION\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\ntype: \"line\"\nLabels: last 13 month labels (\"Apr 24\" format)\nDataset 1 \"Current year\":\n  borderColor \"#4285F4\", borderWidth 3, pointRadius 5, pointBackgroundColor \"#4285F4\"\n  fill: false, backgroundColor: \"rgba(66,133,244,0.08)\", tension 0.35\nDataset 2 \"Previous year\":\n  borderColor \"#EA4335\", borderWidth 2, borderDash [6,3], pointRadius 3, pointBackgroundColor \"#EA4335\"\n  fill: false, tension 0.35\nscales.y.title = { display: true, text: \"Search Volume\" }\nscales.y.beginAtZero: false\n\nANNOTATION вЂ” add a horizontal line for the 12-month average of the CURRENT year:\noptions.plugins.annotation = {\n  \"annotations\": {\n    \"avgLine\": {\n      \"type\": \"line\",\n      \"yMin\": <computed 12-month average of current year as a number>,\n      \"yMax\": <same value>,\n      \"borderColor\": \"rgba(66,133,244,0.5)\",\n      \"borderWidth\": 1,\n      \"borderDash\": [4,4],\n      \"label\": { \"enabled\": true, \"content\": \"12M Avg: <value>\", \"position\": \"end\", \"backgroundColor\": \"rgba(66,133,244,0.1)\", \"color\": \"#4285F4\", \"font\": { \"size\": 11 } }\n    }\n  }\n}\n\nTitle text: \"Global Search Demand вЂ” YoY: [+X% or -X%] | MoM: [+X% or -X%]\"\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ“Љ CHART 2 вЂ” demand_transaction вЂ” GROUPED BAR + DATALABELS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\ntype: \"bar\"\nLabels: last 12 unique dates\nOne dataset per segment. Palette: [\"#4285F4\",\"#EA4335\",\"#FBBC05\",\"#34A853\",\"#9C27B0\",\"#FF6D00\"]\nstacked: false\nscales.y.title = { display: true, text: \"Search Volume\" }\n\nDATALABELS вЂ” show values on top of each bar:\noptions.plugins.datalabels = {\n  \"display\": true,\n  \"anchor\": \"end\",\n  \"align\": \"top\",\n  \"font\": { \"size\": 9, \"weight\": \"bold\" },\n  \"color\": \"#555\"\n}\n\nTitle: \"Transaction Segments вЂ” Best: [segment name] | Declining: [segment name]\"\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ“Љ CHART 3 вЂ” ranking_global_war вЂ” MULTI-LINE + HIGHLIGHT SeLoger Neuf\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\ntype: \"line\"\nLabels: last 12 unique dates\nвљ пёЏ Create ONE dataset per EVERY unique url_hostname found in the data вЂ” include ALL competitors without exception.\n\nFor the dataset where label contains \"selogerneuf\" or \"seloger-neuf\" or is SeLoger Neuf's domain:\n  borderWidth: 4, borderColor: \"#4285F4\", pointRadius: 6, pointBackgroundColor: \"#4285F4\", tension: 0.3, spanGaps: true, fill: false, order: 0\n\nFor all other competitor datasets (assign colors sequentially from this palette вЂ” it has enough for 15+ competitors):\n  borderWidth: 2, borderColor: pick sequentially from [\"#EA4335\",\"#FBBC05\",\"#34A853\",\"#9C27B0\",\"#FF6D00\",\"#00ACC1\",\"#795548\",\"#F06292\",\"#AED581\",\"#FFD54F\",\"#4DD0E1\",\"#CE93D8\",\"#FFAB40\",\"#80CBC4\",\"#EF9A9A\"], pointRadius: 3, tension: 0.3, spanGaps: true, fill: false\n\nscales.y.reverse: true\nscales.y.title = { display: true, text: \"WAR Rank (lower = better)\" }\nscales.y.ticks.stepSize: 1\n\nANNOTATION вЂ” horizontal line at rank 1 (the top position):\noptions.plugins.annotation = {\n  \"annotations\": {\n    \"top\": {\n      \"type\": \"line\",\n      \"yMin\": 1, \"yMax\": 1,\n      \"borderColor\": \"rgba(52,168,83,0.4)\",\n      \"borderWidth\": 1,\n      \"borderDash\": [4,4],\n      \"label\": { \"enabled\": true, \"content\": \"Rank #1\", \"position\": \"start\", \"backgroundColor\": \"rgba(52,168,83,0.1)\", \"color\": \"#34A853\", \"font\": { \"size\": 10 } }\n    }\n  }\n}\n\nTitle: \"SEO WAR Ranking вЂ” SeLoger Neuf: #[current rank] | [в†‘ Improving / в†“ Declining]\"\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ“Љ CHART 4 вЂ” demand_asset вЂ” STACKED BAR + TOTAL LINE + DATALABELS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\ntype: \"bar\" (mixed with a line dataset for the total)\nLabels: last 12 unique dates\n\nFirst, add one \"bar\" dataset per asset type (stacked). Palette: [\"#4285F4\",\"#EA4335\",\"#FBBC05\",\"#34A853\",\"#9C27B0\",\"#FF6D00\"]\n  For each: type: \"bar\", stack: \"stack0\"\n\nThen add ONE extra dataset for the total per date:\n  type: \"line\", label: \"Total\", data: [<sum of all asset volumes per date>]\n  borderColor: \"#212121\", borderWidth: 2, pointRadius: 4, fill: false, tension: 0.3\n  datalabels: { display: false }\n\nscales.x.stacked: true\nscales.y.stacked: true\nscales.y.title = { display: true, text: \"Search Volume\" }\n\nDATALABELS on bar datasets only (not the total line):\noptions.plugins.datalabels = {\n  \"display\": \"auto\",\n  \"anchor\": \"center\",\n  \"align\": \"center\",\n  \"font\": { \"size\": 9 },\n  \"color\": \"white\"\n}\n\nTitle: \"Demand by Asset Type вЂ” Top: [asset] | Declining: [asset]\"\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nрџ“Љ CHART 5 вЂ” audience вЂ” DOUGHNUT + DATALABELS PERCENTAGES\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\ntype: \"doughnut\"\nLabels: distinct audience types from data (e.g. brand, nonbrand, anonymous)\ndata: total clicks per type вЂ” SUM over ALL rows\nbackgroundColor: [\"#4285F4\", \"#34A853\", \"#FBBC05\", \"#9C27B0\"] (use as many as needed)\nborderColor: \"white\", borderWidth: 3\noptions.cutout: \"60%\"\n\nDATALABELS вЂ” show percentage inside each slice. Compute total = sum of all data values. For each slice show: round(value / total * 100, 1) + \"%\" as a plain string number (NO function, compute the actual percentage values yourself using the real data):\noptions.plugins.datalabels = {\n  \"display\": true,\n  \"font\": { \"size\": 13, \"weight\": \"bold\" },\n  \"color\": \"white\",\n  \"textAlign\": \"center\"\n}\nвљ пёЏ The AI must NOT output any JavaScript function string for formatter. Instead, just omit formatter вЂ” QuickChart will display the raw value. Add a separate dataset label showing the percentage in the chart title.\n\nTitle: \"Audience Split вЂ” Brand: [X%] | Non-brand: [Y%] | Anon: [Z%]\"\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nрџЋЁ Color palette: #4285F4 #EA4335 #FBBC05 #34A853 #9C27B0 #FF6D00 #00ACC1 #795548\n\nв›” STRICT JSON RULES for the [CHARTS_JSON] block:\n- Output ONLY valid RFC 8259 JSON вЂ” no JavaScript, no comments (// or /* */), no trailing commas, no undefined, no single quotes\n- Every property name MUST be in double quotes\n- Every string value MUST be in double quotes\n- Arrays and objects must be properly closed\n- Do NOT truncate the JSON вЂ” output all 5 complete chart configs\n\nOutput вЂ” append at the very end of your response:\n\n[CHARTS_JSON]\n[\n  { \"sheetName\": \"demand_global\",      \"chartConfig\": { ...complete Chart.js v3 config... } },\n  { \"sheetName\": \"demand_transaction\", \"chartConfig\": { ...complete Chart.js v3 config... } },\n  { \"sheetName\": \"ranking_global_war\", \"chartConfig\": { ...complete Chart.js v3 config... } },\n  { \"sheetName\": \"demand_asset\",       \"chartConfig\": { ...complete Chart.js v3 config... } },\n  { \"sheetName\": \"audience\",           \"chartConfig\": { ...complete Chart.js v3 config... } }\n]\n[/CHARTS_JSON]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2144, 3376],
      "id": "936b85c9-a473-42b8-93c8-f5c9a89dc119",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Tool_demand_global": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_demand_transaction": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_demand_asset": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_ranking_global_war": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_audience": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Parse AI Chart Configs1": {
      "main": [[{ "node": "QuickChart API1", "type": "main", "index": 0 }]]
    },
    "QuickChart API1": {
      "main": [[{ "node": "Attach Sheet Name1", "type": "main", "index": 0 }]]
    },
    "Attach Sheet Name1": {
      "main": [[{ "node": "Upload Chart to Drive1", "type": "main", "index": 0 }]]
    },
    "Edit Fields1": {
      "main": [[{ "node": "Convert to File1", "type": "main", "index": 0 }]]
    },
    "Convert to File1": {
      "main": [[{ "node": "Upload file1", "type": "main", "index": 0 }]]
    },
    "Upload file1": {
      "main": [[{ "node": "Update file1", "type": "main", "index": 0 }]]
    },
    "Schedule Monday morning1": {
      "main": [[{ "node": "AI Agent1", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat1": {
      "ai_languageModel": [[{ "node": "AI Agent1", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent1": {
      "main": [
        [
          { "node": "Parse AI Chart Configs1", "type": "main", "index": 0 },
          { "node": "Edit Fields1", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1e7c832-5f04-4b9e-8d61-3c2a0f916e47",
  "meta": {
    "instanceId": "0d2cc35bf4173ba6547bf653679ba4873189b39fa696743a086f77f7a38c2420"
  },
  "nodeGroups": [],
  "id": "OYpjxrNSBNOzcnNv",
  "tags": []
}
