Graph_Sanity_Check_v3.json
{
  "name": "Graph Sanity Check",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1545992731,
          "mode": "list",
          "cachedResultName": "demand_global",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1545992731"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [1824, 2880],
      "id": "e39d5be9-3ddf-4bcf-aee3-1d96a1fbdfa1",
      "name": "Tool_demand_global1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 996643932,
          "mode": "list",
          "cachedResultName": "demand_transaction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=996643932"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2000, 2880],
      "id": "ca6bd618-6261-47dd-8331-1dc38fdefaf9",
      "name": "Tool_demand_transaction1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 219092738,
          "mode": "list",
          "cachedResultName": "demand_asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=219092738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2192, 2880],
      "id": "90e8bcf2-46f0-4530-8400-732b5b682100",
      "name": "Tool_demand_asset1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "sheetName": {
          "__rl": true,
          "value": 232829744,
          "mode": "list",
          "cachedResultName": "ranking_global_war",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2368, 2880],
      "id": "596b0453-a09c-45d9-8328-cb91159adada",
      "name": "Tool_ranking_global_war1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576889957,
          "mode": "list",
          "cachedResultName": "audience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1576889957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2528, 2880],
      "id": "e3c821b5-6f33-438e-bf50-867546d66ac1",
      "name": "Tool_audience1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output || '';\n\nconst match = aiOutput.match(/\\[CHARTS_JSON\\]([\\s\\S]*?)\\[\\/CHARTS_JSON\\]/);\nif (!match) {\n  return [{ json: { error: 'No CHARTS_JSON block found', rawOutput: aiOutput.slice(-1000) } }];\n}\n\nlet raw = match[1].trim();\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n\nlet charts;\ntry {\n  charts = JSON.parse(raw);\n} catch (e) {\n  const repaired = raw.replace(/,\\s*([\\]\\}])/g, '$1');\n  try {\n    charts = JSON.parse(repaired);\n  } catch (e2) {\n    return [{ json: { error: 'Failed to parse CHARTS_JSON: ' + e2.message, rawJson: raw.slice(0, 1000) } }];\n  }\n}\n\nif (!Array.isArray(charts) || charts.length === 0) {\n  return [{ json: { error: 'CHARTS_JSON is empty or not an array' } }];\n}\n\nreturn charts\n  .filter(c => c && c.chartConfig && c.chartConfig.data)\n  .map(c => ({ json: { sheetName: c.sheetName || 'chart', chartConfig: c.chartConfig } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2464, 2576],
      "id": "129b08fc-4948-427c-83e2-ba9f429c601c",
      "name": "Parse AI Chart Configs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ version: 3, chart: $json.chartConfig, width: 1000, height: 560, backgroundColor: 'white', format: 'png' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2672, 2576],
      "id": "9934369d-6169-476e-8ff7-7993cd1cbcfb",
      "name": "QuickChart API"
    },
    {
      "parameters": {
        "jsCode": "// Code node runs ONCE for all items — iterate with .map()\nconst allItems  = $input.all();\nconst allCharts = $('Parse AI Chart Configs').all();\n\nreturn allItems.map((item, idx) => {\n  const sheetName = allCharts[idx]?.json?.sheetName || ('chart_' + idx);\n  return { json: { sheetName }, binary: item.binary };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 2576],
      "id": "09f2e1ad-83d5-422b-935c-cbe9d776759e",
      "name": "Attach Sheet Name"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15-4YK35IWCcJXaQ4LzywC7fKrY4u5vcX",
          "mode": "list",
          "cachedResultName": "Sanity chech SLN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15-4YK35IWCcJXaQ4LzywC7fKrY4u5vcX"
        },
        "options": {
          "fileName": "=SLN_Chart_{{ $json.sheetName }}_{{ $now.format('yyyy-MM') }}.png"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3088, 2576],
      "id": "ddff862c-0315-4fcd-8a7a-ec1ede6d4911",
      "name": "Upload Chart to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7214d040-f11c-409d-bf5b-4fc05b33d3bc",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2464, 2352],
      "id": "eedd5ac9-1489-41e9-b313-411aa056df52",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "fileName": "=Sanity_check_{{ $now.format('YYYY-MM-DD') }}.doc"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [2656, 2352],
      "id": "26da21d9-43cf-4fc1-bb83-0bbb5facf355",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15-4YK35IWCcJXaQ4LzywC7fKrY4u5vcX",
          "mode": "list",
          "cachedResultName": "Sanity chech SLN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15-4YK35IWCcJXaQ4LzywC7fKrY4u5vcX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2880, 2352],
      "id": "d2b372f4-95a4-4e8f-8e44-39cdf535754e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "=Sanity check {{ $now.format('YYYY-MM-DD') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3088, 2352],
      "id": "4acacd70-77d0-49a6-9bdf-ee258d4528e8",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [1616, 2480],
      "id": "0a293dbc-b8f7-4909-816f-bf704ca8652c",
      "name": "Schedule Monday morning"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 16000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1888, 2624],
      "id": "1d8e70ed-2aff-4914-9bac-774af97da8c9",
      "name": "OpenAI Chat",
      "credentials": {
        "openAiApi": {
          "id": "apnKNfuPRPt3265G",
          "name": "OpenAI account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an SEO and real estate analyst specializing in online demand data for the French residential new-build market.\n\nReport date: {{ $now.format('DD/MM/YYYY') }}\n\n━━━ STEP 1 — FETCH DATA ━━━\nUse each tool below to read ALL rows BEFORE writing anything:\n- Tool_demand_global → demand_global (columns: date/month, volume)\n- Tool_demand_transaction → demand_transaction (columns: date, segment.transaction, volume)\n- Tool_demand_asset → demand_asset (columns: date, segment.asset, volume)\n- Tool_ranking_global_war → ranking_global_war (columns: date, url_hostname, rank_organic_war)\n- Tool_audience → audience (columns: date, type, clicks)\n\n━━━ STEP 2 — WRITE ANALYSIS ━━━\nFor each section, write bullet points in English with real numbers only.\n\n## 1. demand_global — Market trend\n- Current month volume vs M-1: absolute difference + %\n- Current month vs same month last year (YoY): absolute difference + %\n- 12-month trend: increasing or decreasing vs previous year?\n\n## 2. demand_transaction — By segment\n- Per segment: current month vs M-1 (number + %)\n- Per segment: current month vs same month last year (number + %)\n- Which segment is growing? Which is declining?\n\n## 3. ranking_global_war — SEO competitive ranking\n- SeLoger Neuf current WAR rank vs all competitors\n- Position trend month by month over last 12 months: improving or declining?\n\n## 4. demand_asset — By asset type\n- Current month volume vs M-1 per asset type: absolute + %\n- Current month vs YoY per asset type\n- Top growing and top declining asset type\n\n## 5. audience — Brand vs Non-brand\n- Current click split per type (%)\n- Evolution vs previous period\n\n🎯 Rules: English only — bullets only — real numbers mandatory — no methodology.\n\n━━━ STEP 3 — GENERATE CHARTS ━━━\n\nProduce exactly 5 Chart.js v3 configs — one per section. Use ONLY real numbers from the data you fetched.\n\n⚠️ CRITICAL CHART.JS v3 RULES (QuickChart compatible):\n- Title (MANDATORY on every chart): options.plugins.title = { display: true, text: \"Descriptive title\", font: { size: 16 } }\n- Legend: options.plugins.legend = { display: true, position: \"bottom\" }\n- NO subtitle plugin (not supported by QuickChart)\n- Embed the key insight directly in the title text, e.g. \"Demand Global — YoY: +12% | MoM: -3%\"\n- Axis labels: options.scales.y.title = { display: true, text: \"Search Volume\" }\n- Grid: options.scales.x.grid = { display: false }\n- Padding: options.layout = { padding: 20 }\n- All data values MUST be real numbers (not strings)\n- null only for genuinely missing rank values\n- NO placeholder text like <value> or [...]\n\n📊 CHART SPECS PER SECTION:\n\n1. demand_global → DUAL-LINE (type: \"line\"):\n   - Labels: last 13 month labels (e.g. \"Apr 24\", \"May 24\")\n   - Dataset 1 label \"Current year\": borderColor \"#4285F4\", borderWidth 3, pointRadius 4, fill false, tension 0.3\n   - Dataset 2 label \"Previous year\": borderColor \"#EA4335\", borderWidth 2, borderDash [6,3], pointRadius 3, fill false, tension 0.3\n   - options.scales.y.title.display true, text \"Search Volume\"\n   - Title text must include YoY % from your analysis\n\n2. demand_transaction → GROUPED BAR (type: \"bar\"):\n   - Labels: last 12 unique dates\n   - One dataset per segment, distinct color per dataset\n   - options.scales.x.stacked false, options.scales.y.stacked false\n   - options.scales.y.title.display true, text \"Search Volume\"\n   - Title text must name the best and worst segment\n\n3. ranking_global_war → MULTI-LINE rank (type: \"line\"):\n   - Labels: last 12 unique dates\n   - One dataset per unique url_hostname, distinct color\n   - Each dataset: borderWidth 2, pointRadius 3, tension 0.3, spanGaps true, fill false\n   - options.scales.y.reverse true\n   - options.scales.y.title.display true, text \"WAR Rank (lower = better)\"\n   - Title text must include SeLoger Neuf current rank\n\n4. demand_asset → STACKED BAR (type: \"bar\"):\n   - Labels: last 12 unique dates\n   - One dataset per asset type, stacked\n   - options.scales.x.stacked true, options.scales.y.stacked true\n   - options.scales.y.title.display true, text \"Search Volume\"\n   - Title text must name top growing and top declining asset\n\n5. audience → DOUGHNUT (type: \"doughnut\"):\n   - Labels: distinct audience types from data\n   - data: total clicks per type (sum ALL rows)\n   - backgroundColor: [\"#4285F4\", \"#34A853\", \"#FBBC05\"] (add more if needed)\n   - options.cutout \"60%\"\n   - Title text must include brand share %\n\n🎨 Color palette: #4285F4 #EA4335 #FBBC05 #34A853 #9C27B0 #FF6D00 #00ACC1 #795548\n\nOutput — append at the very end of your response:\n\n[CHARTS_JSON]\n[\n  { \"sheetName\": \"demand_global\",      \"chartConfig\": { ...Chart.js v3 config... } },\n  { \"sheetName\": \"demand_transaction\", \"chartConfig\": { ...Chart.js v3 config... } },\n  { \"sheetName\": \"ranking_global_war\", \"chartConfig\": { ...Chart.js v3 config... } },\n  { \"sheetName\": \"demand_asset\",       \"chartConfig\": { ...Chart.js v3 config... } },\n  { \"sheetName\": \"audience\",           \"chartConfig\": { ...Chart.js v3 config... } }\n]\n[/CHARTS_JSON]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2048, 2480],
      "id": "3868890c-d111-49a3-a730-5061aa663bd9",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Tool_demand_global1": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_demand_transaction1": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_demand_asset1": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_ranking_global_war1": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_audience1": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Parse AI Chart Configs": {
      "main": [[{ "node": "QuickChart API", "type": "main", "index": 0 }]]
    },
    "QuickChart API": {
      "main": [[{ "node": "Attach Sheet Name", "type": "main", "index": 0 }]]
    },
    "Attach Sheet Name": {
      "main": [[{ "node": "Upload Chart to Drive", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Convert to File", "type": "main", "index": 0 }]]
    },
    "Convert to File": {
      "main": [[{ "node": "Upload file", "type": "main", "index": 0 }]]
    },
    "Upload file": {
      "main": [[{ "node": "Update file", "type": "main", "index": 0 }]]
    },
    "Schedule Monday morning": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [
        [
          { "node": "Parse AI Chart Configs", "type": "main", "index": 0 },
          { "node": "Edit Fields", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "85e91fb1-a959-4e76-b107-b7dafaa728de",
  "meta": {
    "instanceId": "0d2cc35bf4173ba6547bf653679ba4873189b39fa696743a086f77f7a38c2420"
  },
  "nodeGroups": [],
  "id": "OYpjxrNSBNOzcnNv",
  "tags": []
}
