Graph_Sanity_Check_with_Charts.json
{
  "name": "Graph Sanity Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-64, 32],
      "id": "dd935295-e60e-4e93-b75e-9e05c3e8d1df",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an SEO and real estate analyst specializing in online demand data for the French residential new-build market.\n\nReport date: {{ $now.format('DD/MM/YYYY') }}\n\nYou have access to the following tools to read data directly from Google Sheets. Use each tool to fetch the data before analyzing it:\n\n- Tool_demand_global → sheet: demand_global (columns: month, year, volume)\n- Tool_demand_transaction → sheet: demand_transaction (columns: date, segment.transaction, volume)\n- Tool_demand_asset → sheet: demand_asset (columns: date, segment.asset, volume)\n- Tool_ranking_global_war → sheet: ranking_global_war (columns: date, url_hostname, rank_organic_war)\n- Tool_audience → sheet: audience (columns: date, type (brand/nonbrand/anonymous), clicks)\n\nSTEP 1 — Fetch all sheets using your tools before writing anything.\nSTEP 2 — Analyze each sheet following the instructions below.\nSTEP 3 — Write the full report in English using bullet points only. No prose paragraphs.\n\n---\n\n## 1. demand_global — Market trend\n- Compare current month volume vs M-1: give absolute number and % evolution\n- Compare current month volume vs same month last year (YoY): give absolute number and % evolution\n- Summarize the 12-month trend: is demand increasing or decreasing month after month? Is it higher or lower than the previous year overall?\n\n## 2. demand_transaction — By transaction segment\n- For each segment (new builds, resale, invest, new houses): compare current month vs M-1 (number + %)\n- Compare current month vs same month last year per segment (number + %)\n- Which segment is consistently increasing? Which is declining?\n\n## 3. ranking_global_war — SEO competitive ranking\n- What is SeLoger Neuf's current WAR rank?\n- How does it compare to its main competitors?\n- Has the position improved or declined over the last available periods?\n\n## 4. demand_asset — By asset type\n- Overall trend: increasing, decreasing or stable month over month?\n- Give % evolution per asset type vs previous month\n- Which asset type is growing the most? Which is declining?\n\n## 5. audience — Brand vs Non-brand vs Anonymous\n- Current split between brand, nonbrand and anonymous clicks (%)\n- Evolution vs previous period: is brand dependency increasing or decreasing?\n\n---\n\n🎯 Output rules:\n- English only\n- Bullet points only, no prose\n- Numbers and percentages mandatory for every metric\n- Keep it concise: results only, no methodology explanation",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [368, 32],
      "id": "268b43df-408d-4f96-b846-4791eedac2c4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [256, 208],
      "id": "c81770fb-2167-4437-8c6a-51fdf2db1e0a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "apnKNfuPRPt3265G",
          "name": "OpenAI account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1545992731,
          "mode": "list",
          "cachedResultName": "demand_global",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1545992731"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [160, 528],
      "id": "5bea2851-11e1-49cc-8a73-7256a5a414a8",
      "name": "Tool_demand_global",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 996643932,
          "mode": "list",
          "cachedResultName": "demand_transaction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=996643932"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [336, 528],
      "id": "cfeb27b5-0fad-4de3-b2f6-0a4d4e317aa7",
      "name": "Tool_demand_transaction",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 219092738,
          "mode": "list",
          "cachedResultName": "demand_asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=219092738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [528, 528],
      "id": "bbde2c82-4da9-4d74-af4f-80138c6e246c",
      "name": "Tool_demand_asset",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "sheetName": {
          "__rl": true,
          "value": 232829744,
          "mode": "list",
          "cachedResultName": "ranking_global_war",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [704, 528],
      "id": "0e323f31-2076-4e03-979a-43f349f4e17f",
      "name": "Tool_ranking_global_war",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576889957,
          "mode": "list",
          "cachedResultName": "audience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1576889957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [864, 528],
      "id": "fb60f5c9-76a0-4d06-b489-191c2205193f",
      "name": "Tool_audience",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// Define the 5 sheets to chart — gids match the existing Tool_ nodes\nreturn [\n  { json: { sheetName: 'demand_global',      gid: 1545992731, chartType: 'line_volume'     } },\n  { json: { sheetName: 'demand_transaction', gid: 996643932,  chartType: 'bar_segments'    } },\n  { json: { sheetName: 'demand_asset',       gid: 219092738,  chartType: 'bar_stacked'     } },\n  { json: { sheetName: 'ranking_global_war', gid: 232829744,  chartType: 'line_rank'       } },\n  { json: { sheetName: 'audience',           gid: 1576889957, chartType: 'doughnut'        } }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-64, 800],
      "id": "chart-define-001",
      "name": "Define Chart Sheets"
    },

    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.gid }}",
          "mode": "id"
        },
        "options": {
          "returnAllMatches": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [240, 800],
      "id": "chart-read-002",
      "name": "Read Sheet for Chart",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// Collect all rows that came from Read Sheet for Chart\n// Each item has the sheet's row data + the sheetName/gid/chartType from Define Chart Sheets\n// n8n passes input items paired with the loop item — we group by sheetName\nconst items = $input.all();\n\n// sheetName and chartType are carried via pairedItem from Define Chart Sheets\n// but since googleSheets read replaces json with row data, we retrieve from $('Define Chart Sheets')\nconst meta = $('Define Chart Sheets').all();\n\n// Group rows by their position in the meta array (each batch corresponds to one sheet)\n// Use the row count per sheet to reconstruct grouping\n// Simpler: trust that all items share the same sheetName in this execution branch\n// because the loop runs one sheet at a time\nconst sheetName = meta.length === 1 ? meta[0].json.sheetName : (items[0]?.json?.sheetName ?? 'unknown');\nconst chartType = meta.length === 1 ? meta[0].json.chartType : 'bar_generic';\n\nconst rows = items.map(i => i.json);\n\nreturn [{ json: { sheetName, chartType, rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 800],
      "id": "chart-group-003",
      "name": "Group Sheet Rows"
    },

    {
      "parameters": {
        "jsCode": "const { sheetName, chartType, rows } = $input.first().json;\n\nconst distinct = arr => [...new Set(arr)].sort();\nconst palette  = ['#4285F4','#EA4335','#FBBC05','#34A853','#9C27B0','#FF6D00','#00ACC1'];\nconst short    = (s, n=18) => s && String(s).length > n ? String(s).slice(0,n)+'…' : String(s||'');\n\nlet chartConfig = null;\n\n// ── demand_global: line chart volume over time ───────────────────────────────\nif (chartType === 'line_volume') {\n  const slice  = rows.slice(-24);\n  const keys   = Object.keys(slice[0] || {});\n  const dateK  = keys.find(k => /date|mois|month/i.test(k)) || keys[0];\n  const volK   = keys.find(k => /volume|click|impres/i.test(k) && k !== dateK) || keys[1];\n\n  chartConfig = {\n    type: 'line',\n    data: {\n      labels: slice.map(r => r[dateK]),\n      datasets: [{\n        label: 'Search Volume',\n        data: slice.map(r => Number(r[volK]) || 0),\n        fill: true,\n        backgroundColor: 'rgba(66,133,244,0.12)',\n        borderColor: '#4285F4',\n        borderWidth: 2,\n        pointRadius: 3,\n        tension: 0.35\n      }]\n    },\n    options: {\n      plugins: { title: { display: true, text: 'Demand Global — Monthly Volume', font: { size: 15 } } },\n      scales:  { y: { beginAtZero: false } }\n    }\n  };\n}\n\n// ── demand_transaction: grouped bar by segment ───────────────────────────────\nelse if (chartType === 'bar_segments') {\n  const keys   = Object.keys(rows[0] || {});\n  const dateK  = keys.find(k => /date|mois/i.test(k))  || keys[0];\n  const segK   = keys.find(k => /segment|transaction/i.test(k)) || keys[1];\n  const volK   = keys.find(k => /volume|click/i.test(k)) || keys[2];\n\n  const dates    = distinct(rows.map(r => r[dateK])).slice(-12);\n  const segments = distinct(rows.map(r => r[segK]));\n\n  chartConfig = {\n    type: 'bar',\n    data: {\n      labels: dates,\n      datasets: segments.map((seg, i) => ({\n        label: short(seg),\n        data: dates.map(d => {\n          const m = rows.find(r => r[dateK] === d && r[segK] === seg);\n          return m ? Number(m[volK]) || 0 : 0;\n        }),\n        backgroundColor: palette[i % palette.length]\n      }))\n    },\n    options: {\n      plugins: { title: { display: true, text: 'Demand by Transaction Segment', font: { size: 15 } } },\n      scales:  { x: { stacked: false }, y: { stacked: false, beginAtZero: true } }\n    }\n  };\n}\n\n// ── demand_asset: stacked bar by asset type ──────────────────────────────────\nelse if (chartType === 'bar_stacked') {\n  const keys   = Object.keys(rows[0] || {});\n  const dateK  = keys.find(k => /date|mois/i.test(k))   || keys[0];\n  const assetK = keys.find(k => /asset|type|bien/i.test(k)) || keys[1];\n  const volK   = keys.find(k => /volume|click/i.test(k))    || keys[2];\n\n  const dates  = distinct(rows.map(r => r[dateK])).slice(-12);\n  const assets = distinct(rows.map(r => r[assetK]));\n\n  chartConfig = {\n    type: 'bar',\n    data: {\n      labels: dates,\n      datasets: assets.map((a, i) => ({\n        label: short(a),\n        data: dates.map(d => {\n          const m = rows.find(r => r[dateK] === d && r[assetK] === a);\n          return m ? Number(m[volK]) || 0 : 0;\n        }),\n        backgroundColor: palette[i % palette.length]\n      }))\n    },\n    options: {\n      plugins: { title: { display: true, text: 'Demand by Asset Type', font: { size: 15 } } },\n      scales:  { x: { stacked: true }, y: { stacked: true, beginAtZero: true } }\n    }\n  };\n}\n\n// ── ranking_global_war: multi-line rank (lower = better) ─────────────────────\nelse if (chartType === 'line_rank') {\n  const keys   = Object.keys(rows[0] || {});\n  const dateK  = keys.find(k => /date|mois/i.test(k)) || keys[0];\n  const hostK  = keys.find(k => /host|url|domain/i.test(k)) || keys[1];\n  const rankK  = keys.find(k => /rank|rang|position|war/i.test(k)) || keys[2];\n\n  const dates = distinct(rows.map(r => r[dateK])).slice(-12);\n  const hosts = distinct(rows.map(r => r[hostK]));\n\n  chartConfig = {\n    type: 'line',\n    data: {\n      labels: dates,\n      datasets: hosts.map((h, i) => ({\n        label: short(h, 22),\n        data: dates.map(d => {\n          const m = rows.find(r => r[dateK] === d && r[hostK] === h);\n          return m ? Number(m[rankK]) || null : null;\n        }),\n        borderColor: palette[i % palette.length],\n        backgroundColor: 'transparent',\n        borderWidth: 2,\n        pointRadius: 3,\n        tension: 0.3,\n        spanGaps: true\n      }))\n    },\n    options: {\n      plugins: { title: { display: true, text: 'SEO Ranking — Competitors (lower = better)', font: { size: 15 } } },\n      scales:  { y: { reverse: true, beginAtZero: false } }\n    }\n  };\n}\n\n// ── audience: doughnut brand / non-brand / anonymous ─────────────────────────\nelse if (chartType === 'doughnut') {\n  const keys      = Object.keys(rows[0] || {});\n  const typeK     = keys.find(k => /type|segment|audience/i.test(k)) || keys[0];\n  const clickK    = keys.find(k => /click|volume/i.test(k)) || keys[1];\n\n  const totals = {};\n  for (const r of rows) {\n    const t = String(r[typeK] || 'unknown').toLowerCase();\n    totals[t] = (totals[t] || 0) + (Number(r[clickK]) || 0);\n  }\n  const labels = Object.keys(totals);\n  const data   = labels.map(l => totals[l]);\n  const bg     = labels.map((_, i) => palette[i % palette.length]);\n\n  chartConfig = {\n    type: 'doughnut',\n    data: {\n      labels,\n      datasets: [{ data, backgroundColor: bg, borderWidth: 2 }]\n    },\n    options: {\n      plugins: {\n        title:  { display: true, text: 'Audience — Brand vs Non-brand vs Anonymous', font: { size: 15 } },\n        legend: { position: 'bottom' }\n      }\n    }\n  };\n}\n\n// ── Generic fallback ─────────────────────────────────────────────────────────\nif (!chartConfig) {\n  const k = Object.keys(rows[0] || {});\n  chartConfig = {\n    type: 'bar',\n    data: {\n      labels: rows.map(r => short(r[k[0]])),\n      datasets: [{ label: k[1], data: rows.map(r => Number(r[k[1]]) || 0), backgroundColor: '#4285F4' }]\n    },\n    options: { plugins: { title: { display: true, text: sheetName, font: { size: 15 } } } }\n  };\n}\n\nreturn [{ json: { sheetName, chartConfig } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 800],
      "id": "chart-build-004",
      "name": "Build Chart Config"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chart: $json.chartConfig, width: 900, height: 500, backgroundColor: 'white', format: 'png' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "chartImage"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 800],
      "id": "chart-request-005",
      "name": "QuickChart API"
    },

    {
      "parameters": {
        "jsCode": "// Re-attach sheetName and rename binary key to 'data' (required by Google Drive upload)\nconst sheetName = $('Build Chart Config').first().json.sheetName;\nconst item = $input.first();\nconst binary = { data: item.binary.chartImage };\nreturn [{ json: { sheetName }, binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 800],
      "id": "chart-label-006",
      "name": "Attach Sheet Name"
    },

    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "fileName": "=SLN_Chart_{{ $json.sheetName }}_{{ $now.format('yyyy-MM') }}.png"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1460, 800],
      "id": "chart-upload-007",
      "name": "Upload Chart to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    }
  ],

  "pinData": {},

  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          { "node": "AI Agent1",           "type": "main", "index": 0 },
          { "node": "Define Chart Sheets", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [[{ "node": "AI Agent1", "type": "ai_languageModel", "index": 0 }]]
    },
    "Tool_demand_global": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_demand_transaction": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_demand_asset": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_ranking_global_war": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_audience": {
      "ai_tool": [[{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]]
    },
    "Define Chart Sheets": {
      "main": [[{ "node": "Read Sheet for Chart", "type": "main", "index": 0 }]]
    },
    "Read Sheet for Chart": {
      "main": [[{ "node": "Group Sheet Rows", "type": "main", "index": 0 }]]
    },
    "Group Sheet Rows": {
      "main": [[{ "node": "Build Chart Config", "type": "main", "index": 0 }]]
    },
    "Build Chart Config": {
      "main": [[{ "node": "QuickChart API", "type": "main", "index": 0 }]]
    },
    "QuickChart API": {
      "main": [[{ "node": "Attach Sheet Name", "type": "main", "index": 0 }]]
    },
    "Attach Sheet Name": {
      "main": [[{ "node": "Upload Chart to Drive", "type": "main", "index": 0 }]]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "69860aad-f89d-4b2c-ad7c-f67036be7cc3",
  "meta": {
    "instanceId": "0d2cc35bf4173ba6547bf653679ba4873189b39fa696743a086f77f7a38c2420"
  },
  "nodeGroups": [],
  "id": "OYpjxrNSBNOzcnNv",
  "tags": []
}
