Graph_Sanity_Check_AI_Charts.json
{
  "name": "Graph Sanity Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-304, 1024],
      "id": "2cfb730e-61dc-46ed-b76c-b210a0b6fa8b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an SEO and real estate analyst specializing in online demand data for the French residential new-build market.\n\nReport date: {{ $now.format('DD/MM/YYYY') }}\n\n━━━ STEP 1 — FETCH DATA ━━━\nUse each tool below to read the data BEFORE writing anything:\n- Tool_demand_global → demand_global (columns: date/month, volume)\n- Tool_demand_transaction → demand_transaction (columns: date, segment.transaction, volume)\n- Tool_demand_asset → demand_asset (columns: date, segment.asset, volume)\n- Tool_ranking_global_war → ranking_global_war (columns: date, url_hostname, rank_organic_war)\n- Tool_audience → audience (columns: date, type, clicks)\n\n━━━ STEP 2 — WRITE ANALYSIS ━━━\nFor each section below, write bullet points in English with real numbers only.\n\n## 1. demand_global — Market trend\n- Current month volume vs M-1: absolute difference + %\n- Current month vs same month last year (YoY): absolute difference + %\n- 12-month trend summary: increasing or decreasing overall vs previous year?\n\n## 2. demand_transaction — By segment\n- Per segment: current month vs M-1 (number + %)\n- Per segment: current month vs same month last year (number + %)\n- Which segment is growing? Which is declining?\n\n## 3. ranking_global_war — SEO competitive ranking\n- SeLoger Neuf current WAR rank\n- Rank vs main competitors\n- Position trend over last available periods: improving or declining?\n\n## 4. demand_asset — By asset type\n- Global MoM trend: increasing / stable / decreasing\n- % evolution per asset type vs previous month\n- Top growing asset type and top declining\n\n## 5. audience — Brand vs Non-brand vs Anonymous\n- Current click split per type (%)\n- Evolution vs previous period: brand dependency increasing or decreasing?\n\n🎯 Rules: English only — bullets only — real numbers mandatory — no methodology.\n\n━━━ STEP 3 — GENERATE CHARTS ━━━\nAfter the analysis, output a CHARTS_JSON block.\nProduce EXACTLY ONE chart per analysis section (5 charts total).\nEach chart must visualize the KEY insight of its section using REAL data you fetched.\n\nYou choose the best chart type and data to highlight based on your findings:\n- Allowed types: line, bar, doughnut\n- For bar charts you may use stacked: true in scales if relevant\n- For ranking charts set scales.y.reverse: true (lower rank = better)\n- Colors to use: #4285F4 (blue) #EA4335 (red) #FBBC05 (yellow) #34A853 (green) #9C27B0 (purple) #FF6D00 (orange) #00ACC1 (teal)\n- Each chart MUST have options.plugins.title.display: true with a clear descriptive title\n- Use last 12 data points maximum per series\n- ALL values must be real numbers — no strings, no nulls except for missing rank values (use null)\n- DO NOT include any placeholder text like <value> or [...]\n\nOutput format — append at the very end:\n\n[CHARTS_JSON]\n[\n  {\n    \"sheetName\": \"demand_global\",\n    \"chartConfig\": { ...valid Chart.js v2 config with real data... }\n  },\n  {\n    \"sheetName\": \"demand_transaction\",\n    \"chartConfig\": { ...valid Chart.js v2 config with real data... }\n  },\n  {\n    \"sheetName\": \"ranking_global_war\",\n    \"chartConfig\": { ...valid Chart.js v2 config with real data... }\n  },\n  {\n    \"sheetName\": \"demand_asset\",\n    \"chartConfig\": { ...valid Chart.js v2 config with real data... }\n  },\n  {\n    \"sheetName\": \"audience\",\n    \"chartConfig\": { ...valid Chart.js v2 config with real data... }\n  }\n]\n[/CHARTS_JSON]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [128, 1024],
      "id": "28841075-6b9f-4090-8852-e01c15345584",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 16000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [16, 1200],
      "id": "4b588cb1-0d91-485b-bf89-e127e01ea89f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "apnKNfuPRPt3265G",
          "name": "OpenAI account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1545992731,
          "mode": "list",
          "cachedResultName": "demand_global",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1545992731"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [-80, 1520],
      "id": "3046d588-62ce-4e92-86a7-127b7d123f8e",
      "name": "Tool_demand_global1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 996643932,
          "mode": "list",
          "cachedResultName": "demand_transaction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=996643932"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [96, 1520],
      "id": "2c298de2-8705-4105-a7af-919c34c51670",
      "name": "Tool_demand_transaction1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 219092738,
          "mode": "list",
          "cachedResultName": "demand_asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=219092738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [288, 1520],
      "id": "b31a73b1-d9e2-4cf9-a6a8-db4a728c2b74",
      "name": "Tool_demand_asset1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "sheetName": {
          "__rl": true,
          "value": 232829744,
          "mode": "list",
          "cachedResultName": "ranking_global_war",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [464, 1520],
      "id": "496e831e-3a55-4f51-b38a-3e80ad100b9d",
      "name": "Tool_ranking_global_war1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576889957,
          "mode": "list",
          "cachedResultName": "audience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1576889957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [624, 1520],
      "id": "29dcf69e-6fbb-4763-bf75-88a336fc0aa9",
      "name": "Tool_audience1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output || '';\n\n// Extract content between [CHARTS_JSON] and [/CHARTS_JSON]\nconst match = aiOutput.match(/\\[CHARTS_JSON\\]([\\s\\S]*?)\\[\\/CHARTS_JSON\\]/);\nif (!match) {\n  return [{ json: { error: 'No CHARTS_JSON block found in AI output', rawOutput: aiOutput.slice(-800) } }];\n}\n\n// Strip markdown code fences if the AI wrapped the JSON in ```json ... ```\nlet raw = match[1].trim();\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n\nlet charts;\ntry {\n  charts = JSON.parse(raw);\n} catch (e) {\n  // Attempt a light repair: remove trailing commas before ] or }\n  const repaired = raw.replace(/,\\s*([\\]\\}])/g, '$1');\n  try {\n    charts = JSON.parse(repaired);\n  } catch (e2) {\n    return [{ json: { error: 'Failed to parse CHARTS_JSON: ' + e2.message, rawJson: raw.slice(0, 800) } }];\n  }\n}\n\nif (!Array.isArray(charts) || charts.length === 0) {\n  return [{ json: { error: 'CHARTS_JSON is empty or not an array', raw: raw.slice(0, 400) } }];\n}\n\n// One output item per valid chart\nreturn charts\n  .filter(c => c && c.chartConfig && c.chartConfig.data)\n  .map(c => ({ json: { sheetName: c.sheetName || 'chart', chartConfig: c.chartConfig } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [528, 1024],
      "id": "parse-ai-charts-001",
      "name": "Parse AI Chart Configs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chart: $json.chartConfig, width: 900, height: 500, backgroundColor: 'white', format: 'png' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [736, 1024],
      "id": "59d48d9f-ac15-4ab0-8e13-d0fe1825dab7",
      "name": "QuickChart API"
    },
    {
      "parameters": {
        "jsCode": "// A Code node runs ONCE with all items — iterate with .map() to return all 5 charts\nconst allItems  = $input.all();\nconst allCharts = $('Parse AI Chart Configs').all();\n\nreturn allItems.map((item, idx) => {\n  const sheetName = allCharts[idx]?.json?.sheetName || ('chart_' + idx);\n  return { json: { sheetName }, binary: item.binary };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [944, 1024],
      "id": "6d7f507e-e881-48ea-96cf-e59ce00fc9ae",
      "name": "Attach Sheet Name"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "fileName": "=SLN_Chart_{{ $json.sheetName }}_{{ $now.format('yyyy-MM') }}.png"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1152, 1024],
      "id": "4cc92042-adfd-493a-824d-fb5e9a02869e",
      "name": "Upload Chart to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          { "node": "AI Agent1", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [{ "node": "AI Agent1", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Tool_demand_global1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool_demand_transaction1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool_demand_asset1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool_ranking_global_war1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool_audience1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "AI Agent1": {
      "main": [
        [{ "node": "Parse AI Chart Configs", "type": "main", "index": 0 }]
      ]
    },
    "Parse AI Chart Configs": {
      "main": [
        [{ "node": "QuickChart API", "type": "main", "index": 0 }]
      ]
    },
    "QuickChart API": {
      "main": [
        [{ "node": "Attach Sheet Name", "type": "main", "index": 0 }]
      ]
    },
    "Attach Sheet Name": {
      "main": [
        [{ "node": "Upload Chart to Drive", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e5ce8ab6-55fe-4ce0-b7e7-6e72d9215f4f",
  "meta": {
    "instanceId": "0d2cc35bf4173ba6547bf653679ba4873189b39fa696743a086f77f7a38c2420"
  },
  "nodeGroups": [],
  "id": "OYpjxrNSBNOzcnNv",
  "tags": []
}
