Graph_Sanity_Check_AI_Charts.json
{
  "name": "Graph Sanity Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-304, 1024],
      "id": "2cfb730e-61dc-46ed-b76c-b210a0b6fa8b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an SEO and real estate analyst specializing in online demand data for the French residential new-build market.\n\nReport date: {{ $now.format('DD/MM/YYYY') }}\n\nYou have access to the following tools to read data directly from Google Sheets. Use each tool to fetch the data before analyzing it:\n\n- Tool_demand_global → sheet: demand_global (columns: month, year, volume)\n- Tool_demand_transaction → sheet: demand_transaction (columns: date, segment.transaction, volume)\n- Tool_demand_asset → sheet: demand_asset (columns: date, segment.asset, volume)\n- Tool_ranking_global_war → sheet: ranking_global_war (columns: date, url_hostname, rank_organic_war)\n- Tool_audience → sheet: audience (columns: date, type (brand/nonbrand/anonymous), clicks)\n\nSTEP 1 — Fetch all sheets using your tools before writing anything.\nSTEP 2 — Analyze each sheet following the instructions below.\nSTEP 3 — Write the full report in English using bullet points only.\nSTEP 4 — At the very end, output the CHARTS_JSON block with real data from the sheets.\n\n---\n\n## 1. demand_global — Market trend\n- Compare current month volume vs M-1: give absolute number and % evolution\n- Compare current month volume vs same month last year (YoY): give absolute number and % evolution\n- Summarize the 12-month trend: is demand increasing or decreasing month after month? Is it higher or lower than the previous year overall?\n\n## 2. demand_transaction — By transaction segment\n- For each segment (new builds, resale, invest, new houses): compare current month vs M-1 (number + %)\n- Compare current month vs same month last year per segment (number + %)\n- Which segment is consistently increasing? Which is declining?\n\n## 3. ranking_global_war — SEO competitive ranking\n- What is SeLoger Neuf's current WAR rank?\n- How does it compare to its main competitors?\n- Has the position improved or declined over the last available periods?\n\n## 4. demand_asset — By asset type\n- Overall trend: increasing, decreasing or stable month over month?\n- Give % evolution per asset type vs previous month\n- Which asset type is growing the most? Which is declining?\n\n## 5. audience — Brand vs Non-brand vs Anonymous\n- Current split between brand, nonbrand and anonymous clicks (%)\n- Evolution vs previous period: is brand dependency increasing or decreasing?\n\n---\n\n🎯 Output rules:\n- English only\n- Bullet points only, no prose\n- Numbers and percentages mandatory for every metric\n- Keep it concise: results only, no methodology explanation\n\n---\n\nAfter completing your full analysis, append this block at the very end of your response using REAL numbers from the data you fetched. Do NOT use placeholder values.\n\n[CHARTS_JSON]\n[\n  {\n    \"sheetName\": \"demand_global\",\n    \"chartConfig\": {\n      \"type\": \"line\",\n      \"data\": {\n        \"labels\": [\"<last 12 date values from demand_global>\"],\n        \"datasets\": [{\n          \"label\": \"Search Volume\",\n          \"data\": [<last 12 volume values as numbers>],\n          \"borderColor\": \"#4285F4\",\n          \"backgroundColor\": \"rgba(66,133,244,0.12)\",\n          \"fill\": true,\n          \"tension\": 0.35,\n          \"borderWidth\": 2,\n          \"pointRadius\": 3\n        }]\n      },\n      \"options\": {\n        \"plugins\": { \"title\": { \"display\": true, \"text\": \"Demand Global — Monthly Volume\", \"font\": { \"size\": 15 } } },\n        \"scales\": { \"y\": { \"beginAtZero\": false } }\n      }\n    }\n  },\n  {\n    \"sheetName\": \"demand_transaction\",\n    \"chartConfig\": {\n      \"type\": \"bar\",\n      \"data\": {\n        \"labels\": [\"<last 12 unique dates from demand_transaction>\"],\n        \"datasets\": [\n          { \"label\": \"<segment1>\", \"data\": [<volumes for segment1 per date>], \"backgroundColor\": \"#4285F4\" },\n          { \"label\": \"<segment2>\", \"data\": [<volumes for segment2 per date>], \"backgroundColor\": \"#EA4335\" },\n          { \"label\": \"<segment3>\", \"data\": [<volumes for segment3 per date>], \"backgroundColor\": \"#FBBC05\" },\n          { \"label\": \"<segment4>\", \"data\": [<volumes for segment4 per date>], \"backgroundColor\": \"#34A853\" }\n        ]\n      },\n      \"options\": {\n        \"plugins\": { \"title\": { \"display\": true, \"text\": \"Demand by Transaction Segment\", \"font\": { \"size\": 15 } } },\n        \"scales\": { \"x\": { \"stacked\": false }, \"y\": { \"stacked\": false, \"beginAtZero\": true } }\n      }\n    }\n  },\n  {\n    \"sheetName\": \"demand_asset\",\n    \"chartConfig\": {\n      \"type\": \"bar\",\n      \"data\": {\n        \"labels\": [\"<last 12 unique dates from demand_asset>\"],\n        \"datasets\": [\n          { \"label\": \"<asset_type1>\", \"data\": [<volumes>], \"backgroundColor\": \"#4285F4\" },\n          { \"label\": \"<asset_type2>\", \"data\": [<volumes>], \"backgroundColor\": \"#EA4335\" }\n        ]\n      },\n      \"options\": {\n        \"plugins\": { \"title\": { \"display\": true, \"text\": \"Demand by Asset Type\", \"font\": { \"size\": 15 } } },\n        \"scales\": { \"x\": { \"stacked\": true }, \"y\": { \"stacked\": true, \"beginAtZero\": true } }\n      }\n    }\n  },\n  {\n    \"sheetName\": \"ranking_global_war\",\n    \"chartConfig\": {\n      \"type\": \"line\",\n      \"data\": {\n        \"labels\": [\"<last 12 unique dates from ranking_global_war>\"],\n        \"datasets\": [\n          { \"label\": \"<hostname1>\", \"data\": [<rank values, null if missing>], \"borderColor\": \"#4285F4\", \"backgroundColor\": \"transparent\", \"borderWidth\": 2, \"pointRadius\": 3, \"tension\": 0.3, \"spanGaps\": true },\n          { \"label\": \"<hostname2>\", \"data\": [<rank values>], \"borderColor\": \"#EA4335\", \"backgroundColor\": \"transparent\", \"borderWidth\": 2, \"pointRadius\": 3, \"tension\": 0.3, \"spanGaps\": true }\n        ]\n      },\n      \"options\": {\n        \"plugins\": { \"title\": { \"display\": true, \"text\": \"SEO Ranking — Competitors (lower = better)\", \"font\": { \"size\": 15 } } },\n        \"scales\": { \"y\": { \"reverse\": true } }\n      }\n    }\n  },\n  {\n    \"sheetName\": \"audience\",\n    \"chartConfig\": {\n      \"type\": \"doughnut\",\n      \"data\": {\n        \"labels\": [\"Brand\", \"Non-brand\", \"Anonymous\"],\n        \"datasets\": [{\n          \"data\": [<total brand clicks>, <total nonbrand clicks>, <total anonymous clicks>],\n          \"backgroundColor\": [\"#4285F4\", \"#34A853\", \"#FBBC05\"],\n          \"borderWidth\": 2\n        }]\n      },\n      \"options\": {\n        \"plugins\": {\n          \"title\": { \"display\": true, \"text\": \"Audience — Brand vs Non-brand vs Anonymous\", \"font\": { \"size\": 15 } },\n          \"legend\": { \"position\": \"bottom\" }\n        }\n      }\n    }\n  }\n]\n[/CHARTS_JSON]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [128, 1024],
      "id": "28841075-6b9f-4090-8852-e01c15345584",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 16000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [16, 1200],
      "id": "4b588cb1-0d91-485b-bf89-e127e01ea89f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "apnKNfuPRPt3265G",
          "name": "OpenAI account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1545992731,
          "mode": "list",
          "cachedResultName": "demand_global",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1545992731"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [-80, 1520],
      "id": "3046d588-62ce-4e92-86a7-127b7d123f8e",
      "name": "Tool_demand_global1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 996643932,
          "mode": "list",
          "cachedResultName": "demand_transaction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=996643932"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [96, 1520],
      "id": "2c298de2-8705-4105-a7af-919c34c51670",
      "name": "Tool_demand_transaction1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 219092738,
          "mode": "list",
          "cachedResultName": "demand_asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=219092738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [288, 1520],
      "id": "b31a73b1-d9e2-4cf9-a6a8-db4a728c2b74",
      "name": "Tool_demand_asset1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "sheetName": {
          "__rl": true,
          "value": 232829744,
          "mode": "list",
          "cachedResultName": "ranking_global_war",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [464, 1520],
      "id": "496e831e-3a55-4f51-b38a-3e80ad100b9d",
      "name": "Tool_ranking_global_war1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576889957,
          "mode": "list",
          "cachedResultName": "audience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1576889957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [624, 1520],
      "id": "29dcf69e-6fbb-4763-bf75-88a336fc0aa9",
      "name": "Tool_audience1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the CHARTS_JSON block from the AI output and split into one item per chart\nconst aiOutput = $input.first().json.output || '';\n\n// Parse the JSON block between [CHARTS_JSON] and [/CHARTS_JSON] tags\nconst match = aiOutput.match(/\\[CHARTS_JSON\\]([\\s\\S]*?)\\[\\/CHARTS_JSON\\]/);\n\nif (!match) {\n  // Fallback: return error item so the workflow doesn't silently stop\n  return [{ json: { error: 'No CHARTS_JSON block found in AI output', rawOutput: aiOutput.slice(0, 500) } }];\n}\n\nlet charts;\ntry {\n  charts = JSON.parse(match[1].trim());\n} catch (e) {\n  return [{ json: { error: 'Failed to parse CHARTS_JSON: ' + e.message, rawJson: match[1].slice(0, 500) } }];\n}\n\nif (!Array.isArray(charts) || charts.length === 0) {\n  return [{ json: { error: 'CHARTS_JSON is empty or not an array' } }];\n}\n\n// Return one item per chart — each item carries sheetName + chartConfig\nreturn charts\n  .filter(c => c.chartConfig)\n  .map(c => ({ json: { sheetName: c.sheetName || 'chart', chartConfig: c.chartConfig } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [528, 1024],
      "id": "parse-ai-charts-001",
      "name": "Parse AI Chart Configs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chart: $json.chartConfig, width: 900, height: 500, backgroundColor: 'white', format: 'png' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "chartImage"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [736, 1024],
      "id": "59d48d9f-ac15-4ab0-8e13-d0fe1825dab7",
      "name": "QuickChart API"
    },
    {
      "parameters": {
        "jsCode": "// Rename binary field chartImage → data (required by Google Drive)\n// Recover sheetName from the upstream Parse AI Chart Configs node (paired item)\nconst sheetName = $('Parse AI Chart Configs').item.json.sheetName || 'chart';\nconst item = $input.first();\nconst binary = { data: item.binary.chartImage };\nreturn [{ json: { sheetName }, binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [944, 1024],
      "id": "6d7f507e-e881-48ea-96cf-e59ce00fc9ae",
      "name": "Attach Sheet Name"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "fileName": "=SLN_Chart_{{ $json.sheetName }}_{{ $now.format('yyyy-MM') }}.png"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1152, 1024],
      "id": "4cc92042-adfd-493a-824d-fb5e9a02869e",
      "name": "Upload Chart to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          { "node": "AI Agent1", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [{ "node": "AI Agent1", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Tool_demand_global1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool_demand_transaction1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool_demand_asset1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool_ranking_global_war1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool_audience1": {
      "ai_tool": [
        [{ "node": "AI Agent1", "type": "ai_tool", "index": 0 }]
      ]
    },
    "AI Agent1": {
      "main": [
        [{ "node": "Parse AI Chart Configs", "type": "main", "index": 0 }]
      ]
    },
    "Parse AI Chart Configs": {
      "main": [
        [{ "node": "QuickChart API", "type": "main", "index": 0 }]
      ]
    },
    "QuickChart API": {
      "main": [
        [{ "node": "Attach Sheet Name", "type": "main", "index": 0 }]
      ]
    },
    "Attach Sheet Name": {
      "main": [
        [{ "node": "Upload Chart to Drive", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e5ce8ab6-55fe-4ce0-b7e7-6e72d9215f4f",
  "meta": {
    "instanceId": "0d2cc35bf4173ba6547bf653679ba4873189b39fa696743a086f77f7a38c2420"
  },
  "nodeGroups": [],
  "id": "OYpjxrNSBNOzcnNv",
  "tags": []
}
