SanityCheck_dashboard_5.json
{
  "name": "SanityCheck dashboard",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1545992731,
          "mode": "list",
          "cachedResultName": "demand_global",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1545992731"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [3168, 4784],
      "id": "65e9a7dd-8233-45e0-a84a-4e4abaf7ef9c",
      "name": "Tool_demand_global",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 996643932,
          "mode": "list",
          "cachedResultName": "demand_transaction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=996643932"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [3344, 4784],
      "id": "f414806d-5655-4960-9d91-7409ff216489",
      "name": "Tool_demand_transaction",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 219092738,
          "mode": "list",
          "cachedResultName": "demand_asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=219092738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [3536, 4784],
      "id": "b632f90b-dfa2-4932-a7bc-e4cb9fa254de",
      "name": "Tool_demand_asset",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "sheetName": {
          "__rl": true,
          "value": 232829744,
          "mode": "list",
          "cachedResultName": "ranking_global_war",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [3712, 4784],
      "id": "ecf24ee4-421d-4b77-aca8-082bf81e70a1",
      "name": "Tool_ranking_global_war",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "list",
          "cachedResultName": "[AVIVAIPROJ] SLN Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576889957,
          "mode": "list",
          "cachedResultName": "audience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1576889957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [3872, 4784],
      "id": "d62ac1db-64ac-4a86-8375-ebd24fbf84dc",
      "name": "Tool_audience",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [2928, 4224],
      "id": "bd399a62-4e41-47f4-a0ed-3fc9855e80cb",
      "name": "Schedule Monday morning"
    },
    {
      "parameters": {
        "path": "seo-sanity-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [2928, 4464],
      "id": "2e7d746b-6039-480f-8661-a76940a6e4f3",
      "name": "Webhook Dashboard",
      "webhookId": "seo-sanity-check"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [3280, 4496],
      "id": "edf38794-1acc-451c-a16f-6299297c07b8",
      "name": "OpenAI Chat",
      "credentials": {
        "openAiApi": {
          "id": "apnKNfuPRPt3265G",
          "name": "OpenAI account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an SEO and real estate analyst for the French residential new-build market.\n\nReport date: {{ $now.format('DD/MM/YYYY') }}\n\n━━━ STEP 1 — FETCH ALL DATA FIRST ━━━\nRead ALL rows from every tool before doing anything else:\n- Tool_demand_global → columns: date, volume\n- Tool_demand_transaction → columns: date, segment.transaction, volume\n- Tool_demand_asset → columns: date, segment.asset, volume\n- Tool_ranking_global_war → columns: date, url_hostname, rank_organic_war\n- Tool_audience → columns: date, type, clicks\n\n━━━ STEP 2 — OUTPUT [CHARTS_JSON] FIRST ━━━\n⚠️ Output the JSON block IMMEDIATELY — before any analysis text.\n\nProduce exactly 5 Chart.js v3 configs using ONLY real numbers from the data.\n\nRULES FOR ALL CHARTS:\n- options.plugins.title = { display: true, text: \"...\", font: { size: 16, weight: \"bold\" }, padding: { bottom: 10 } }\n- options.plugins.legend = { display: true, position: \"bottom\", labels: { padding: 16, font: { size: 12 } } }\n- options.layout = { padding: { top: 10, right: 24, bottom: 10, left: 10 } }\n- options.scales.x.grid = { display: false }\n- All values MUST be real numbers — NO placeholders.\n\nCHART 1 — demand_global — line, last 13 months, 2 datasets (current year #4285F4, previous year #EA4335 dashed), annotation avgLine at 12M average.\nTitle: \"Global Search Demand — YoY: [X%] | MoM: [X%]\"\n\nCHART 2 — demand_transaction — grouped bar, last 12 months, one dataset per segment, palette [\"#4285F4\",\"#EA4335\",\"#FBBC05\",\"#34A853\"], datalabels on top.\nTitle: \"Transaction Segments — Best: [name] | Declining: [name]\"\n\nCHART 3 — ranking_global_war — multi-line, last 12 months, ALL unique url_hostname as datasets. SeLoger Neuf: borderWidth 4 #4285F4. Others: sequential colors. scales.y.reverse: true. annotation at rank 1.\nTitle: \"SEO WAR Ranking — SeLoger Neuf: #[rank] | [↑/↓]\"\n\nCHART 4 — demand_asset — stacked bar + total line, last 12 months, one bar dataset per asset type (stack: \"stack0\"), palette [\"#4285F4\",\"#EA4335\",\"#FBBC05\",\"#34A853\"], plus line dataset for total with datalabels disabled.\nTitle: \"Demand by Asset Type — Top: [asset] | Declining: [asset]\"\n\nCHART 5 — audience — doughnut, labels = distinct types, data = total clicks per type, backgroundColor [\"#4285F4\",\"#34A853\",\"#FBBC05\"], cutout 60%, datalabels show % (compute values yourself — no formatter function).\nTitle: \"Audience Split — Brand: [X%] | Non-brand: [Y%] | Anon: [Z%]\"\n\nOutput the block NOW:\n\n[CHARTS_JSON]\n[\n  { \"sheetName\": \"demand_global\",      \"chartConfig\": { ...complete Chart.js v3 config... } },\n  { \"sheetName\": \"demand_transaction\", \"chartConfig\": { ...complete Chart.js v3 config... } },\n  { \"sheetName\": \"ranking_global_war\", \"chartConfig\": { ...complete Chart.js v3 config... } },\n  { \"sheetName\": \"demand_asset\",       \"chartConfig\": { ...complete Chart.js v3 config... } },\n  { \"sheetName\": \"audience\",           \"chartConfig\": { ...complete Chart.js v3 config... } }\n]\n[/CHARTS_JSON]\n\n━━━ STEP 3 — SHORT ANALYSIS (after JSON) ━━━\nWrite bullet-point analysis AFTER the JSON block. Keep it concise.\n\n## 1. demand_global — Market trend\n- Current month vs M-1: absolute + %\n- YoY: absolute + %\n- 12-month trend\n\n## 2. demand_transaction — By segment\n- Each segment: MoM + YoY\n- Best growing / declining segment\n\n## 3. ranking_global_war\n- List ALL competitors with current WAR rank\n- SeLoger Neuf trend\n\n## 4. demand_asset\n- Each asset type: MoM + YoY\n- Top growing / declining\n\n## 5. audience\n- Click split % per type\n- Evolution vs previous period",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [3392, 4352],
      "id": "ff1a3180-73b7-4fb0-909c-52c48cb0d07a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Read raw AI output and send it as-is to Respond to Webhook\nconst output = $input.first().json.output || '';\nreturn [{ json: { output } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3760, 4352],
      "id": "4d5b57b1-becc-4f34-be57-c376ddca7d05",
      "name": "Build Webhook Response"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "text/plain; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3968, 4352],
      "id": "97edb937-f386-4e7f-ba54-a8b4f99357a8",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Tool_demand_global": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_demand_transaction": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_demand_asset": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_ranking_global_war": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool_audience": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Schedule Monday morning": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Webhook Dashboard": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Build Webhook Response", "type": "main", "index": 0 }]]
    },
    "Build Webhook Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c09081c3-7a8c-4132-99f3-840dcc48892f",
  "meta": {
    "instanceId": "0d2cc35bf4173ba6547bf653679ba4873189b39fa696743a086f77f7a38c2420"
  },
  "nodeGroups": [],
  "id": "s3gormGdBHw1wat4",
  "tags": []
}
