SLN_Sanity_check_8.json
{
  "name": "SLN Sanity check",
  "nodes": [
    {
      "parameters": {
        "content": "🗓️ Chaque lundi 8h\nLecture de toutes les feuilles\n→ IA → Rapport Drive",
        "height": 100,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 600],
      "id": "810d0b3a-1d60-4c99-aa0e-4449ba5dba92",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [300, 1800],
      "id": "3d7d52fa-37a9-4c50-8b68-a6594b0ba17f",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1545992731,
          "mode": "list",
          "cachedResultName": "demand_global",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1545992731"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [600, 800],
      "id": "c13f9bbc-2a85-4efc-af18-88e695334e85",
      "name": "GSheets_demand_global",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tag-global-01",
              "name": "_sheet",
              "value": "demand_global",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 800],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567801",
      "name": "Tag_demand_global"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 996643932,
          "mode": "list",
          "cachedResultName": "demand_transaction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=996643932"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [600, 1200],
      "id": "87412a9c-33dd-4f07-9a9c-7c972acffc35",
      "name": "GSheets_demand_transaction",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tag-transaction-01",
              "name": "_sheet",
              "value": "demand_transaction",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 1200],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567802",
      "name": "Tag_demand_transaction"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 219092738,
          "mode": "list",
          "cachedResultName": "demand_asset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=219092738"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [600, 1600],
      "id": "cb8894f7-47b1-4f04-b7c8-f7c17ebab5f5",
      "name": "GSheets_demand_asset",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tag-asset-01",
              "name": "_sheet",
              "value": "demand_asset",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 1600],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567803",
      "name": "Tag_demand_asset"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 389961799,
          "mode": "list",
          "cachedResultName": "demand_region",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=389961799"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [600, 2000],
      "id": "ce86aa08-50c3-473b-a0ec-ad6219f4f17e",
      "name": "GSheets_demand_region",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tag-region-01",
              "name": "_sheet",
              "value": "demand_region",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 2000],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567804",
      "name": "Tag_demand_region"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1057870854,
          "mode": "list",
          "cachedResultName": "demand_departement",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1057870854"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [600, 2400],
      "id": "e8281c85-f008-4fd6-8635-b342d797d41c",
      "name": "GSheets_demand_departement",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tag-dept-01",
              "name": "_sheet",
              "value": "demand_departement",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 2400],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567805",
      "name": "Tag_demand_departement"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1581805178,
          "mode": "list",
          "cachedResultName": "demand_explorer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1581805178"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [600, 2800],
      "id": "57689d09-c1ae-44c2-8ee3-44f2ab9847c4",
      "name": "GSheets_demand_explorer",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tag-explorer-01",
              "name": "_sheet",
              "value": "demand_explorer",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 2800],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567806",
      "name": "Tag_demand_explorer"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 232829744,
          "mode": "list",
          "cachedResultName": "ranking_global_war",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=232829744"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [600, 3200],
      "id": "72f82480-71cc-4f3d-8ebd-a748e4e3aed7",
      "name": "GSheets_ranking_global_war",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tag-ranking-01",
              "name": "_sheet",
              "value": "ranking_global_war",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 3200],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567807",
      "name": "Tag_ranking_global_war"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576889957,
          "mode": "list",
          "cachedResultName": "audience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BlQRDytw-GXK9BHhMEqaxUXIGoImqfqY_kFjWNINcI4/edit#gid=1576889957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [600, 3600],
      "id": "0f35f346-3d24-4ba2-9cf5-daf27ba0cb18",
      "name": "GSheets_audience",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKJo0cSICgmr4UFl",
          "name": "Google Sheets account 11"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tag-audience-01",
              "name": "_sheet",
              "value": "audience",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 3600],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567808",
      "name": "Tag_audience"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 2200],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567809",
      "name": "Merge All Sheets"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Regroupe toutes les lignes par feuille et formate pour l'IA\nconst allItems = $input.all();\nconst sheetData = {};\n\nfor (const item of allItems) {\n  const sheet = item.json._sheet || 'unknown';\n  if (!sheetData[sheet]) sheetData[sheet] = [];\n  const row = { ...item.json };\n  delete row._sheet;\n  sheetData[sheet].push(row);\n}\n\nlet formattedData = '';\nfor (const [sheet, rows] of Object.entries(sheetData)) {\n  formattedData += `### ${sheet} (${rows.length} lignes)\\n`;\n  // Limiter à 200 lignes par feuille pour ne pas dépasser le contexte\n  const sample = rows.slice(0, 200);\n  formattedData += sample.map(r => JSON.stringify(r)).join('\\n');\n  formattedData += '\\n\\n';\n}\n\nreturn [{ json: { formattedData, sheetsCount: Object.keys(sheetData).length, sheets: Object.keys(sheetData) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 2200],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567810",
      "name": "Format Data for AI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un analyste SEO et immobilier spécialisé dans l'analyse de données de demande en ligne pour le marché immobilier français (neuf, résidentiel).\n\nDate du rapport : {{ $now.format('DD/MM/YYYY') }}\n\nTu reçois des données issues d'un fichier de suivi de performance digitale. Chaque section correspond à un angle d'analyse différent.\n\nVoici comment interpréter chaque section :\n\n- demand_global : volume mensuel de recherches toutes catégories confondues (colonnes : month, year, volume). Identifie les tendances annuelles et saisonnières.\n- demand_transaction : volume par type de transaction (new builds, resale, invest, new houses) au fil du temps. Compare les segments et détecte les hausses/baisses.\n- demand_asset : volume par type de bien (apartment block, studio, duplex, vefa, etc.). Identifie les typologies en croissance ou en déclin.\n- demand_region : volume de recherche par région française. Identifie les régions en croissance ou en déclin.\n- demand_departement : volume de recherche par département. Identifie les zones géographiques prioritaires.\n- demand_explorer : données exploratoires de recherche par mots-clés. Identifie les tendances émergentes et les intentions de recherche.\n- ranking_global_war : classements des acteurs du marché (WAR = Write-Achieve-Rank). Analyse les positions et évolutions concurrentielles.\n- audience : données d'audience digitale (profils, comportements, sources). Analyse la qualité et l'évolution du trafic.\n\nVoici les données à analyser :\n\n{{ $json.formattedData }}\n\n---\n\nProduis un rapport de sanity check hebdomadaire structuré comme suit :\n\n## 1. Résumé exécutif\n(3 à 5 points clés de la semaine)\n\n## 2. Analyse par section\nPour chaque feuille disponible, produis une analyse concise avec :\n- Tendance principale observée\n- Chiffres notables\n- Comparaison avec la période précédente si possible\n\n## 3. Points d'alerte et anomalies\n(Variations inhabituelles, données manquantes, incohérences)\n\n## 4. Recommandations\n(Actions prioritaires pour la semaine à venir)\n\nSois factuel, précis et utilise des chiffres issus des données. Rédige en français.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1800, 2200],
      "id": "d26502dc-57d4-4fa9-b8c9-cf33b03f3d30",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1800, 2500],
      "id": "a21aee57-3fde-46e8-a000-c57c7fc00076",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "apnKNfuPRPt3265G",
          "name": "OpenAI account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7214d040-f11c-409d-bf5b-4fc05b33d3bc",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2100, 2200],
      "id": "8064aa84-7973-41a5-8a2b-23b2c7c0c73c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "fileName": "=Sanity_check_{{ $now.format('YYYY-MM-DD') }}.doc"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [2400, 2200],
      "id": "bb1a59ca-2d53-4607-9992-b8896a8d154a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2700, 2200],
      "id": "dd66ecd2-68ab-4855-985c-ea9a1feb40fe",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "=Sanity check {{ $now.format('YYYY-MM-DD') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3000, 2200],
      "id": "85418e74-ab46-4216-8e5c-34febba01d51",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hUSKS8kbE7qdyiJz",
          "name": "Mon Google Drive"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          { "node": "GSheets_demand_global", "type": "main", "index": 0 },
          { "node": "GSheets_demand_transaction", "type": "main", "index": 0 },
          { "node": "GSheets_demand_asset", "type": "main", "index": 0 },
          { "node": "GSheets_demand_region", "type": "main", "index": 0 },
          { "node": "GSheets_demand_departement", "type": "main", "index": 0 },
          { "node": "GSheets_demand_explorer", "type": "main", "index": 0 },
          { "node": "GSheets_ranking_global_war", "type": "main", "index": 0 },
          { "node": "GSheets_audience", "type": "main", "index": 0 }
        ]
      ]
    },
    "GSheets_demand_global": {
      "main": [
        [{ "node": "Tag_demand_global", "type": "main", "index": 0 }]
      ]
    },
    "GSheets_demand_transaction": {
      "main": [
        [{ "node": "Tag_demand_transaction", "type": "main", "index": 0 }]
      ]
    },
    "GSheets_demand_asset": {
      "main": [
        [{ "node": "Tag_demand_asset", "type": "main", "index": 0 }]
      ]
    },
    "GSheets_demand_region": {
      "main": [
        [{ "node": "Tag_demand_region", "type": "main", "index": 0 }]
      ]
    },
    "GSheets_demand_departement": {
      "main": [
        [{ "node": "Tag_demand_departement", "type": "main", "index": 0 }]
      ]
    },
    "GSheets_demand_explorer": {
      "main": [
        [{ "node": "Tag_demand_explorer", "type": "main", "index": 0 }]
      ]
    },
    "GSheets_ranking_global_war": {
      "main": [
        [{ "node": "Tag_ranking_global_war", "type": "main", "index": 0 }]
      ]
    },
    "GSheets_audience": {
      "main": [
        [{ "node": "Tag_audience", "type": "main", "index": 0 }]
      ]
    },
    "Tag_demand_global": {
      "main": [
        [{ "node": "Merge All Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Tag_demand_transaction": {
      "main": [
        [{ "node": "Merge All Sheets", "type": "main", "index": 1 }]
      ]
    },
    "Tag_demand_asset": {
      "main": [
        [{ "node": "Merge All Sheets", "type": "main", "index": 2 }]
      ]
    },
    "Tag_demand_region": {
      "main": [
        [{ "node": "Merge All Sheets", "type": "main", "index": 3 }]
      ]
    },
    "Tag_demand_departement": {
      "main": [
        [{ "node": "Merge All Sheets", "type": "main", "index": 4 }]
      ]
    },
    "Tag_demand_explorer": {
      "main": [
        [{ "node": "Merge All Sheets", "type": "main", "index": 5 }]
      ]
    },
    "Tag_ranking_global_war": {
      "main": [
        [{ "node": "Merge All Sheets", "type": "main", "index": 6 }]
      ]
    },
    "Tag_audience": {
      "main": [
        [{ "node": "Merge All Sheets", "type": "main", "index": 7 }]
      ]
    },
    "Merge All Sheets": {
      "main": [
        [{ "node": "Format Data for AI", "type": "main", "index": 0 }]
      ]
    },
    "Format Data for AI": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Edit Fields", "type": "main", "index": 0 }]
      ]
    },
    "Edit Fields": {
      "main": [
        [{ "node": "Convert to File", "type": "main", "index": 0 }]
      ]
    },
    "Convert to File": {
      "main": [
        [{ "node": "Upload file", "type": "main", "index": 0 }]
      ]
    },
    "Upload file": {
      "main": [
        [{ "node": "Update file", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "24f7ecbd-fd63-4001-9fc4-8f040b485c43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d2cc35bf4173ba6547bf653679ba4873189b39fa696743a086f77f7a38c2420"
  },
  "nodeGroups": [],
  "id": "gzuSnaI4w6QnR3AN",
  "tags": []
}
